In [1]:
#https://www.kaggle.com/stackoverflow/pythonquestions?select=Answers.csv

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from sklearn.cluster import KMeans

In [3]:
plt.figure(figsize=(12, 12))

In [5]:
questions = pd.read_csv("/home/user/Downloads/Questions.csv", encoding = "ISO-8859-1")

In [6]:
questions.shape

(607282, 6)

In [28]:
questions = questions[:5000]

In [29]:
questions

,Id,OwnerUserId,CreationDate,Score,Title,Body
0,469,147.0,2008-08-02T15:11:16Z,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
1,502,147.0,2008-08-02T17:01:58Z,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...
2,535,154.0,2008-08-02T18:43:54Z,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...
3,594,116.0,2008-08-03T01:15:08Z,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...
4,683,199.0,2008-08-03T13:19:16Z,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...
...,...,...,...,...,...,...
995,238223,21711.0,2008-10-26T16:35:07Z,4,Match unicode in ply's regexes,"<p>I'm matching identifiers, but now I have a ..."
996,238600,NaN,2008-10-26T20:52:35Z,8,How can I support wildcards in user-defined se...,<p>Is there a simple way to support wildcards ...
997,238697,NaN,2008-10-26T22:00:16Z,4,XPath search with ElementTree,<p>New to xml. Looking for XPath to search a ...
998,238882,19922.0,2008-10-27T01:03:40Z,1,How do I install plpython on MacOs X 10.5?,<p>I have just installed PostgreSQL 8.3.4 on M...
999,239009,21537.0,2008-10-27T03:32:24Z,0,getting pywin32 to work inside open office 2.4...,<p>I need to update data to a mssql 2005 datab...

In [36]:
questions = np.asarray(questions)

In [30]:
tags = pd.read_csv("/home/user/Downloads/Tags.csv", encoding = "ISO-8859-1")

In [31]:
tags = tags[:5000]

In [32]:
tags

          Id        Tag
0        469     python
1        469        osx
2        469      fonts
3        469  photoshop
4        502     python
...      ...        ...
4995  348392     python
4996  348392      email
4997  348630       java
4998  348630     python
4999  348630       perl

[5000 rows x 2 columns]

In [33]:
tags = np.asarray(tags)

In [34]:
qtags = tags[:,1]

In [66]:
freqs = np.unique(qtags, return_counts=True)

In [67]:
freqs = freqs[1]

In [69]:
freqs.sort()

In [70]:
freqs[-20:]

array([  21,   21,   22,   22,   24,   24,   26,   26,   26,   27,   28,
         28,   30,   34,   35,   36,   46,   49,  160, 1609])

In [78]:
for i in reversed(range(freqs.size)):
    if(freqs[i]<=20):
        np.delete(freqs,i)

In [79]:
freqs.size

1154

In [43]:
X = np.concatenate([questions[:,[4]], questions[:,[5]]], axis=1)
y=qtags

In [46]:
random_state = 170
y_pred = KMeans(n_clusters=2, random_state=random_state).fit_predict(X)

ValueError: could not convert string to float: 'How can I find the full path to a font from its display name on a Mac?'

# TODO

1. perform k means clustering on the dataset
2. test accuracy
3. try other clustering algorithms

# TODO

only use the most frequent tags - remove all other tags w the corresponding questions
the other stuff above ^^^